[cloneable],
[draggable] {
  cursor: grab;
}

[cloneable],
[draggable],
[droppable],
[hoverable] {
  outline: 1px dashed gray;
}

[dragging="true"] {
  height:0px;
  overflow:hidden;
  cursor: grabing;
  cursor: -moz-grabing;
  cursor: -webkit-grabing;
}

#dropMarker{
  background-color:green;
  position :absolute;
  display:none;
  z-index:100000;
}

#ghostEffect{
  overflow: hidden;
  text-overflow: ellipsis;
  whiteSpace: nowrap;
  opacity: 0.5;
  position: fixed;
  z-index: 100000;
  border: 1px solid grey;
  cursor: grabing;
  cursor: -moz-grabing;
  cursor: -webkit-grabing;
}

	  /*[draggable="true"], [cloneable="true"]  {*/
	  /*  touch-action: none;*/
	  /*}*/
