body[isdragging] * {
  cursor: grabbing!important;
  cursor: -moz-grabbing!important;
  cursor: -webkit-grabbing!important;
}

[cloneables] > *,
[sortable] > * {
  cursor: grab;
}

[cloneable="false"],
[cloneables="false"] > *,
[draggable="false"],
[sortable="false"] > * {
  cursor: auto;
}

[cloneable],
[draggable] {
  cursor: grab;
}

body[isdragging] [droppable]{
  outline: 1px dashed gray;
}

[dragging] {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

[dragging="true"] {
  height: 0px;
  width: 0px;
  padding: 0px;
  margin: 0px;
  border-width: 0px;
  overflow:hidden;
  /* cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; */
}

#dropMarker{
  background-color:green;
  position :absolute;
  display:none;
  z-index:100000;
}

#ghostEffect{
  overflow: hidden;
  text-overflow: ellipsis;
  whiteSpace: nowrap;
  opacity: 0.5;
  position: fixed;
  z-index: 100000;
  border: 1px solid grey;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

	  /*[draggable="true"], [cloneable="true"]  {*/
	  /*  touch-action: none;*/
	  /*}*/
